.head{
    
    height: 20px;
    display: flex;
    margin-left:28px;
    align-items: flex-end;
    outline: none ;
    margin-top:8px;
    
}
.btn{
    padding-right: 20px;
    background-color:transparent;
    color: black;
}

.head .end{
    margin-left: 65rem;
   
}

@media (max-width:880px)
  {
    .head{
    
        
        display: flex;
        outline: none ;
        
    }

    .head .end{
        margin-left: 25rem;
       
    }
  }

  @media (max-width:440px)
  {
    .head{
    
        
        display: flex;
        outline: none ;
        box-sizing: border-box;
        margin-top: 2px;
        position: relative;
        top:-850px;
        left:10px
        
    }

    .shadow{

        width: 800px;
    }

    .head .end{
        margin-left: 28rem;
       
    }
  }