.in1{
    display: flex;
    width: 96%;
    height: 15%;
    background-color:white;
    margin-right: 5px;
    font-weight: bold;
    

}

.para1{
    font-size: 13px;
    margin-bottom: 1px;
    margin-left: 4px;
}
.para2{
    margin-top: 8px;
    font-size: 22px;
    margin-left: 4px;
}
.perct{
    margin-left: 3px;
    color: orange;
}
.div2{
    width: 15%;
    height: 110%;
}
.div1{
    width: 13%;
    margin-left: 26px;
    height: 110%;
}

.perc{
    color: orange ;
    margin-left: 4px;
    
}

@media (max-width:880px)
{
    .in1{
        display: flex;
        box-sizing: border-box;
        width: 98%;
        height: 20%;
        margin-right: auto;
        overflow: scroll;
        
    
    }
    .div1{
        width: 98%;
        margin-left: 8px;
        height: 110%;
    }

    .para1{
        font-size: 8px;
        margin-bottom: 1px;
        margin-left: 2px;
    }

    .para2{
        margin-top: 4px;
        font-size: 13px;
        margin-left: 2px;
    }

    .div2{
        width: 15%;
        height: 110%;
    }
    
    
}

@media (max-width:440px)
{
    .in1{
        display: flex;
        box-sizing: border-box;
        width: 80%;
        height: 20%;
        overflow: scroll;  
    
    }

    .div2{
        width: 15%;
        height: 85%;
    }

    .div1{
        width: 10%;
        margin-left: 8px;
        height: 85%;
    }

    .para1{
        font-size: 8px;
        margin-bottom: 1px;
        margin-left: 2px;
    }

    .para2{
        margin-top: 4px;
        font-size: 14px;
        margin-left: 2px;
    }

}